<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EditarLivro</servlet-name>
        <servlet-class>servlets.EditarLivro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirLivro</servlet-name>
        <servlet-class>servlets.ExcluirLivro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConectaBD</servlet-name>
        <servlet-class>servlets.ConectaBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravarLivro</servlet-name>
        <servlet-class>servlets.GravarLivro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarLivro</servlet-name>
        <servlet-class>servlets.ListarLivro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarLivro</servlet-name>
        <url-pattern>/EditarLivro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirLivro</servlet-name>
        <url-pattern>/ExcluirLivro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConectaBD</servlet-name>
        <url-pattern>/ConectaBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravarLivro</servlet-name>
        <url-pattern>/GravarLivro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarLivro</servlet-name>
        <url-pattern>/ListarLivro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
